<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Book</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   <div class="container my-5">
      <h1 class="mb-5">Create a book:</h1>
          
      <form th:action="@{/addBook}"
         th:object="${bookDto}" method="POST">
         Название:
         <input type="text" th:field="*{title}" />    
         <br/>
         Автор:
         <input type="text" th:field="*{authorName}" />     
         <br/>
         <input type="submit" value="Create" />
      </form>
       
      <br/>
       
 
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
</html>