<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Book</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/styles.css">
</head>


<body>
	<div class="container">
		<h2>Добавление книги</h2>
		<form action="#" th:action="@{/addBook}" th:object="${bookDto}"
			method="post">
			<div class="form-group">
				<label for="title">Имя</label> <input type="text"
					th:field="*{title}" class="form-control" id="title"
					placeholder="Введите имя" name="title">

			</div>
			<div class="form-group">
				<label for="pwd">Автор</label> <select th:field="*{authorName}"
					class="form-control">
					<option th:each="author : ${authors}" th:value="${author.name}"
						th:utext="${author.name}" />
				</select>
			</div>
			<div class="form-group">
				<label for="pwd">Жанр</label> <select th:field="*{genre}"
					class="form-control">
					<option th:each="genre : ${genres}" th:value="${genre.description}"
						th:utext="${genre.description}" />
				</select>
			</div>

			<button type="submit" class="btn btn-success">Добавить книгу</button>
		</form>
	</div>
</body>
</html>