<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Список книг</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    
   </head>
   <body>
      <h1>Список авторов</h1>
      <a href="addBook">Add Book</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Автор</th>
               <th>Дата рождения</th>
            </tr>
            <tr th:each ="author : ${authors}">
               <td th:utext="${author.name}">...</td>
               <td th:utext="${author.birthDate}">...</td>
            </tr>
         </table>
      </div>
   </body>
</html>