<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Список книг</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Book List</h1>
      <a href="addBook">Add Book</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Название</th>
               <th>Автор</th>
               <th>Жанр</th>
            </tr>
            <tr th:each ="book : ${books}">
               <td th:utext="${book.title}">...</td>
 
            </tr>
         </table>
      </div>
   </body>
</html>