<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>БИБЛИОТЕКА</title>
<link rel="stylesheet" href="../static/styles.css">
</head>
<body>

	<h1>Добро пожаловать в библиотеку</h1>
	<div id="container" style="width: 70%">
		<div class="row">
			<h1>Книги</h1>
			<hr>
			<form action="/addBook">
				<button type="submit" class="b-add">Добавить книгу</button>
			</form>
			<div class="scroll-table">
				<table>
					<thead>
						<tr class="fixed">
							<th style="width: 400px;">Название</th>
							<th style="width: 200px;">Автор</th>
							<th style="width: 200px;">Жанр</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="scroll-table">
						<tr th:each="book : ${bookDTOList}">
							<td th:utext="${book.title}">...</td>
							<td th:utext="${book.authorName}">...</td>
							<td th:utext="${book.genre}" align="center">...</td>
							<td>
								<button type="button" class="b-update">Update</button>
								<button type="button" class="b-delete">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<br> <br>

			<h1>Авторы</h1>
			<hr>
			<form action="/addAuthor">
				<button type="submit" class="b-add">Добавить автора</button>
			</form>
			<div class="scroll-table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" style="width: 200px;">Автор</th>
							<th scope="col" style="width: 200px;" align="center">Дата
								рождения</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="author : ${authors}">
							<td th:utext="${author.name}">...</td>
							<td th:utext="${author.birthDate}">...</td>
							<td>
								<button type="button" class="b-update">Update</button>
								<button co type="button" class="b-delete">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br> <br>

			<h1>Жанры</h1>
			<hr>
			<form action="/addGenre">
				<button type="submit" class="b-add">Добавить жанр</button>
			</form>
			<div class="scroll-table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width: 200px;">Название</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="genre : ${genres}">
							<td th:utext="${genre.description}">...</td>
							<td>
								<button type="button" class="b-update">Update</button>
								<button co type="button" class="b-delete">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>