<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>БИБЛИОТЕКА</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Добро пожаловать в библиотеку</h1>
      <h2 th:utext="${message}">..!..</h2>          
      <a th:href="@{/bookList}">Книги</a> 
         <br/><br/>
      <a th:href="@{/bookList}">Жанры</a> 
         <br/><br/>   
      <a th:href="@{/authorList}">Авторы</a>           
   </body>    
</html>