/dz1/.project
/dz1/.settings
/dz1/target
/dz1/.classpath
/dz4/spring-shell.log
/dz5/.project
/dz5/.settings
/dz5/target
/dz5/.classpath
/dz5/.gitignore
/.metadata
/.sonarlint/default/.sonartmp_2267851378603378666/*.jar
/dz6/.settings/*.prefs
/dz7/.settings
/.sonarlint/default/.sonartmp_1445852771096102844/*.jar
/dz7/*.log
/dz9/.classpath
/dz9/.project
/dz9/.settings
/dz9/target
/.sonarlint
/dz10/.project
/dz10/.settings
/dz10/target
/dz10/.classpath
/dz8/.classpath
/dz8/.project
/dz8/.settings/org.eclipse.core.resources.prefs
/dz8/.settings/org.eclipse.jdt.core.prefs
/dz8/spring-shell.log
/dz12/target
/dz12/spring-shell.log
/dz12/.settings
/dz12/.classpath
/dz12/.project
/dz11/.project
/dz11/.settings
/dz11/.classpath
/dz8/.settings

/dz13/.project
/dz13/.settings
/dz13/target
/dz13/.classpath
/dz15/spring-shell.log
/dz15/.settings
/dz15/target
/dz15/.classpath
/dz15/.project
/dz15/UnloadingDir
/dz16/.project
/dz16/.settings
/dz16/target
/dz16/.classpath
/dz17/log.txt
/dz17/.settings
/dz17/target
/dz17/.classpath
/dz17/.project
/dz17/log.txt
/dz17/.settings
/dz17/target
/dz17/.classpath
/dz17/.project
/dz11/
/dz12/
/dz13/
/dz14/
/dz15/
/dz16/
/dz17/
/dz7/
/dz8/
