/dz1/.project
/dz1/.settings
/dz1/target
/dz1/.classpath
/dz4/spring-shell.log
/dz5/.project
/dz5/.settings
/dz5/target
/dz5/.classpath
/dz5/.gitignore
/.metadata
/.sonarlint/default/.sonartmp_2267851378603378666/*.jar
/dz6/.settings/*.prefs
/dz7/.settings
/.sonarlint/default/.sonartmp_1445852771096102844/*.jar
/dz7/*.log
