<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="questionDAO"
		class="ru.akozlovskiy.springdz01.dao.QuestionDAOImpl">
		<property name="resource">
			<value>classpath:Questions.csv</value>
		</property>
	</bean>

	<bean id="answerHandler"
		class="ru.akozlovskiy.springdz01.service.AnswerHandlerServiceImpl">
	</bean>

	<bean id="tester"
		class="ru.akozlovskiy.springdz01.service.StudentTesterServiceImpl">
		<constructor-arg name="questionDAO" ref="questionDAO" />
		<constructor-arg name="answerHandler" ref="answerHandler" />
	</bean>
</beans>